@import "../dist/webkit-sassui-timeline.scss";
*{margin:0;padding:0;-webkit-margin-before:0;-webkit-margin-after:0;}
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.test-webkit-sassui-timeline{
  @include webkit-sassui-timeline();
  width:80%;
  background: #eee;
  margin:20px auto;
  padding:20px;
  font-size: 13px;

  >.item{
    &+.item{
      padding-top: 10px;
    }
  }
}
